[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
numpy = "*"
langchain = "*"
langchain-experimental = "*"
jupyterlab = "*"
langchain-openai = "*"
tabulate = "*" # Dependency by langchain-experimental
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.13"
